.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 70rem;
}

.FormInputInput {
  /* padding: 1.5rem; */
  margin: 5px 0 10px 0px;
  border-radius: 5px;
  /* border: 1px solid white; */
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.FormInputInput:focus {
  border-color: var(--primary-color);
}

.FormInputLabel {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.FormInputSpan {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"]~span {
  display: block;
}